a {
  color: color-mix(in srgb, var(--accent) 75%, light-dark(black, white));
  text-decoration-line: none;
  transition:
    transform .2s ease;

  &:hover {
    color: color-mix(in srgb, var(--accent) 85%, light-dark(black, white));
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: .1em;
    transform: translateY(-2px);
  }

  & > code,
  & > strong {
    color: inherit;
  }
}
